<pre style='text-align:left'>
	
<%for (i=0;i<json.links.length;++i) {%>
<span style='padding:1em;background-color:white;border:1px solid #333;margin-right:1em;font-weight:bold'><%=json.links[i].hotness%></span><a href='<%=json.links[i].url%>'><%=json.links[i].url%></a><br>
<%}%>
</pre>