<div class='header'>
	<div class='logo'>61FRESH</div>
	<div class="tagline">
		boston news creating buzz on twitter right now. new stories appear rapidly, big stories stick around for a few hours. updated every 10 minutes.
	</div>
	<div class='last_updated'>
		last updated <%=moment(Date.parse(json.generated_at)).fromNow()%>
	</div>
</div>

<div class='articles'>
<div class='index_header'>available feeds</div>
<%_.each(json.links,function(link) {%>
	<div class='article'>
		<a href='feed.html?set=<%=link.set%>'><%=link.name%></a>
	</div>
<%})%>
</div>
