@import "compass/css3";
 
@import "compass/utilities";

$border_color: #333;
$light_text_color: #777;
$black_color: #333;
$light_color: green;
$dark_link_color:#369;
$diagnostics_color:purple;
$diagnostics_border: #eee;
$light_background_color:#f5f5f5;
$light_border_color:#d5d5d5;
$pill_background_color: #e5e5f5;


body {
  padding-top: 50px;
	margin-left:20%;
	margin-right:20%;
	font-family: 'Open Sans', sans-serif !important;
}


@media only screen and (max-width: 400px) {
	body
	{
		padding-top:10px;
		margin-left:0px;
	}
}

a:link { text-decoration: none; color: $dark_link_color; }
a:visited { text-decoration: none; color: $dark_link_color; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

#main
{
	width:70%;
}

#loading
{
	padding-left:20px;
	color:red;
	font-size:24px;
	font-weight:bold;
}

@media only screen and (max-width: 500px) {
	#main
	{
		width:100%;
		padding-top:0px;
	}
	.container
	{
		margin:40px;
	}
}

.sports
{
}

#right_rail
{
	width:25%;
	float:right;
	vertical-align:top;
}

.index_header
{
	font-size:24px;
	font-weight:bold;
	padding-left:4px;
	text-align:left;
	margin-bottom:0.5em;
}

.cluster
{
}

.article
{
	padding:16px;
	padding-top:2px;
	background-color:white;
	text-align:left;
	margin-bottom:0.5em;
}


@media only screen and (max-width: 400px) {
	.article
	{
		#border-bottom:3px solid $light_border_color;
	}
}


.main_cluster_article
{
	
}

.subsidiary_cluster_article
{
margin-left:50px;
}

.subsidiary_cluster_article .article_title
{
	font-size:16px;
}

@media only screen and (max-width: 400px) {
	.subsidiary_cluster_article
	{
		margin-left:30px;
	}
	
	.subsidiary_cluster_article .article_description
	{
		display:none;
	}
	.subsidiary_cluster_article .article_image
	{
		display:none;
	}
	
	.subsidiary_cluster_article .article_tweeters
	{
		display:none;
	}
	
}



.header
{
	margin-bottom:36px;
	padding:1em;
}

@media only screen and (max-width: 400px) {
	.header
	{
		padding:0px;
	}
}

#twitter_follow_button
{
	float:right;
	padding-top:7px;
}

.mute_sports
{
	color:$diagnostics_color;
	font-style:italic;
	float:right;
	padding:0.25em;
	margin-right:4px;
}

@media only screen and (max-width: 400px) {
	.header
	{
		margin-left:8px;
	}
	
	.mute_sports
	{
	}
}


.logo
{
	font-size:30px;
	font-weight:bold;
	color:green;
}

.logo a:link { text-decoration: none; color: green; }
.logo a:visited { text-decoration: none; color: green; }
.logo a:hover { text-decoration: none; }
.logo a:active { text-decoration: none; }

.tagline
{
	
}

.navigation
{
	margin-right:20px;
	margin-top:10px;
}

.navigation_element
{
	font-size:20px;
	font-weight:bold;
	background-color:$light_background_color;
	padding:6px;
}

.navigation_back
{
	float:left;
}

.navigation_forward
{
	float:right;
}

#debug
{
	color:red;
	font-family:monospace;
	color:#fff;
	font-size:10px;
	padding:10px;
	display:none;
	margin:5px;
	margin-top:120px;
}

#debug:hover
{
	color:#999;
}

.about_link
{
	display:inline;
}

.diagnostics_header
{
	color:$diagnostics_color;
	font-style:italic;
	float:right;
	padding:0.25em;
}

.diagnostics_row
{
	border:2px solid $diagnostics_border;
	color:$diagnostics_color;
	padding:0.25em;
	font-size:10px;
	width:105px;
	position:absolute;
	left:5px;
}


.last_updated
{
	font-style:italic;
	font-size:10px;
	color:$light_text_color;
}

.article:nth-child(odd) { background: $light_background_color; }

.article_hotness
{
	display:none;
	float:left;
	padding:0.25em;
	background-color:white;
	border:1px solid $black_color;
	margin-right:1em;
	font-weight:bold;
	text-align:center;
	background-color:#ffc;
	color:green;
	font-size:30px;
}

.article_hotness_label
{
	font-size:10px;
}

.article_num_tweets
{
	display:none;
}

.article_header a:link { text-decoration: none; color: $light_color; }
.article_header a:visited { text-decoration: none; color: $light_color; }
.article_header a:hover { text-decoration: none; }
.article_header a:active { text-decoration: underline; }

.article_header
{
	color:$light_text_color;
	text-transform:lowercase;
	font-size:12px;
}

.article_is_new
{
	color:red;
	font-weight:bold;
	display:inline;
}

.article_total_tweets
{
	display:inline;
}

.article_source
{
	display:inline;
	font-weight:bold;
}
.article_found_at
{
	display:inline;
}

.article_title
{
	display:inline;
	font-size:18px;
	font-weight:bold;
}

.twitter_intents
{
	position:absolute;
}

.hover
{
	display:none;
}

.article_title_screen_name
{
	font-size:8px;
	display:none;
}

.article_title_screen_name:before {
  content: '@'
}

.article_profile_image_url
{
	float:left;
	padding:4px;
	padding-left:0px;
	padding-right:6px;
}

@media only screen and (max-width: 400px) {
	.article_profile_image_url
	{
		display:none;
	}
}

.article_description
{
	font-size:12px;
	display:block;
}

.article_description_title
{
	font-style:italic;
	display:inline;
}

.article_description_title:after {
  content: ''
}

.article_image_container
{
	padding:1em;
	float:right;
	width:200px;
	height:160px;
	overflow:hidden;
	display:none;
	-webkit-border-radius:14px ;
	-moz-border-radius:14px;	
}

@media only screen and (max-width: 400px) {
	.article_image_container
	{
		width:100%;
		height:100%;
	}
}


.article_image
{
	width:100%;
	display:none;
}

.article_tweeter_image
{
	height:15px;
	vertical-align:-2px;
}

.article_tweeter_tweet
{
	display:inline;
}

.article_tweeter_tweet:before {
  content: "&laquo;";
}

.article_tweeter_tweet:after {
  content: "&raquo;";
}

.article_tweeter_image_container
{
	display:none;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;	
}

.article_tweeter_screen_name
{
	display:inline;
}

.article_tweeters
{
	display:block;
	font-size:12px;
	color:$light_text_color;
	margin-top:6px;
}

.article_tweeter
{
	display:inline;
}

.main_header
{
	display:none;
	padding:4px;
	margin-left:16px;
	margin-right:16px;
	
	background-color:$light_background_color;
}

@media only screen and (max-width: 500px) {
	.main_header
	{
		margin-left:2px;
		margin-right:2px;
	}
	.main_header_subhead
	{
		display:none;
	}
}

.main_header_subhead
{
	margin-top:4px;
	float:right;
	color:$light_text_color;
	font-size:10px;
}

.main_header_hint
{
	display:inline;
}



.rail_set_header
{
	padding:2px;
	background-color:$light_background_color;
}


.rail_set_domain
{
	border-top:1px solid $light_background_color;
	margin:2px;
	padding:2px;
	white-space:nowrap;
}

.count_bubble
{
	background-color:$light_background_color;
	border:1px solid $light_border_color;
	padding:1px;
	display:inline;
	@include border-radius(5px); 
	font-size:10px;
	width:12px;
}

.rail_set_domain_num_users
{
	margin-right:4px;
}

.rail_set_domain_num_users_container
{
	display:inline;
	width:24px;
	white-space:nowrap;
}

.rail_set
{
	padding:4px;
	padding-top:0px;
	font-size:12px;
}

@media only screen and (max-width: 500px) {
	.rail_set
	{
		display:none;
	}
}


.rail_set_header
{
	font-size:14px;
}

.rail_set_article_num_tweets
{
}

.rail_set_domain_num_users
{
	background-color:$light_background_color;
	border:1px solid $light_border_color;
	padding:1px;
	display:inline;
	@include border-radius(5px); 
	font-size:10px;
	width:12px;
}


.rail_set_article
{
	margin-bottom:4px;
	padding:2px;
}

.rail_set_article:nth-child(even) { background: $light_background_color; }

.rail_set_article_header
{
	font-size:10px;
	color:$light_text_color;
}

.rail_set_article_header a:link { text-decoration: none; color: $light_color; }
.rail_set_article_header a:visited { text-decoration: none; color: $light_color; }
.rail_set_article_header a:hover { text-decoration: underline; }
.rail_set_article_header a:active { text-decoration: underline; }


.rail_set_article_link
{
}

.rail_set_article_image_container
{
	padding-right:1px;
	@include border-radius(5px); 	
}

.rail_set_article_image
{
	width:220px;
}


