/* line 18, ../sass/condor.scss */
body {
  padding-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'Open Sans', sans-serif !important;
}

@media only screen and (max-width: 400px) {
  /* line 28, ../sass/condor.scss */
  body {
    padding-top: 10px;
    margin-left: 0px;
  }
}
/* line 34, ../sass/condor.scss */
a:link {
  text-decoration: none;
  color: #336699;
}

/* line 35, ../sass/condor.scss */
a:visited {
  text-decoration: none;
  color: #336699;
}

/* line 36, ../sass/condor.scss */
a:hover {
  text-decoration: none;
}

/* line 37, ../sass/condor.scss */
a:active {
  text-decoration: none;
}

/* line 40, ../sass/condor.scss */
#main {
  width: 70%;
}

/* line 45, ../sass/condor.scss */
#footer {
  width: 70%;
  margin-top: 20px;
  background-color: #fafafa;
  padding: 20px;
}

/* line 53, ../sass/condor.scss */
.footer_right {
  float: right;
}

/* line 58, ../sass/condor.scss */
#loading {
  padding-left: 20px;
  color: red;
  font-size: 24px;
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  /* line 67, ../sass/condor.scss */
  #main {
    width: 100%;
    padding-top: 0px;
  }

  /* line 72, ../sass/condor.scss */
  .container {
    margin: 40px;
  }
}
/* line 82, ../sass/condor.scss */
#right_rail {
  width: 25%;
  float: right;
  vertical-align: top;
}

@media only screen and (max-width: 500px) {
  /* line 90, ../sass/condor.scss */
  #right_rail {
    display: none;
  }
}
/* line 97, ../sass/condor.scss */
.index_header {
  font-size: 24px;
  font-weight: bold;
  padding-left: 4px;
  text-align: left;
  margin-bottom: 0.5em;
}

/* line 110, ../sass/condor.scss */
.article {
  padding: 16px;
  padding-top: 2px;
  background-color: white;
  text-align: left;
  margin-bottom: 0.5em;
  min-height: 160px;
}

@media only screen and (max-width: 400px) {
  /* line 122, ../sass/condor.scss */
  .article {
    #border-bottom: 3px solid #d5d5d5;
  }
}
/* line 134, ../sass/condor.scss */
.subsidiary_cluster_article {
  margin-left: 50px;
}

/* line 139, ../sass/condor.scss */
.subsidiary_cluster_article .article_title {
  font-size: 16px;
}

@media only screen and (max-width: 400px) {
  /* line 145, ../sass/condor.scss */
  .subsidiary_cluster_article {
    margin-left: 30px;
  }

  /* line 150, ../sass/condor.scss */
  .subsidiary_cluster_article .article_description {
    display: none;
  }

  /* line 154, ../sass/condor.scss */
  .subsidiary_cluster_article .article_image {
    display: none;
  }

  /* line 159, ../sass/condor.scss */
  .subsidiary_cluster_article .article_tweeters {
    display: none;
  }
}
/* line 168, ../sass/condor.scss */
.header {
  margin-bottom: 36px;
  padding: 1em;
}

@media only screen and (max-width: 400px) {
  /* line 175, ../sass/condor.scss */
  .header {
    padding: 0px;
  }
}
/* line 181, ../sass/condor.scss */
#twitter_follow_button {
  float: right;
  padding-top: 7px;
}

/* line 187, ../sass/condor.scss */
.mute_sports {
  color: purple;
  font-style: italic;
  float: right;
  padding: 0.25em;
  margin-right: 4px;
}

@media only screen and (max-width: 400px) {
  /* line 197, ../sass/condor.scss */
  .header {
    margin-left: 8px;
  }
}
/* line 208, ../sass/condor.scss */
.logo {
  font-size: 30px;
  font-weight: 700;
  color: green;
}

/* line 214, ../sass/condor.scss */
.logo a:link {
  text-decoration: none;
  color: green;
}

/* line 215, ../sass/condor.scss */
.logo a:visited {
  text-decoration: none;
  color: green;
}

/* line 216, ../sass/condor.scss */
.logo a:hover {
  text-decoration: none;
}

/* line 217, ../sass/condor.scss */
.logo a:active {
  text-decoration: none;
}

/* line 225, ../sass/condor.scss */
.navigation {
  margin-right: 20px;
  margin-top: 10px;
}

/* line 231, ../sass/condor.scss */
.navigation_element {
  font-size: 20px;
  font-weight: bold;
  background-color: whitesmoke;
  padding: 6px;
}

/* line 239, ../sass/condor.scss */
.navigation_back {
  float: left;
}

/* line 244, ../sass/condor.scss */
.navigation_forward {
  float: right;
}

/* line 249, ../sass/condor.scss */
#debug {
  color: red;
  font-family: monospace;
  color: #fff;
  font-size: 10px;
  padding: 10px;
  display: none;
  margin: 5px;
  margin-top: 120px;
}

/* line 261, ../sass/condor.scss */
#debug:hover {
  color: #999;
}

/* line 266, ../sass/condor.scss */
.about_link {
  display: inline;
}

/* line 271, ../sass/condor.scss */
.diagnostics_header {
  color: purple;
  font-style: italic;
  float: right;
  padding: 0.25em;
}

/* line 279, ../sass/condor.scss */
.diagnostics_row {
  border: 2px solid #eeeeee;
  color: purple;
  padding: 0.25em;
  font-size: 10px;
  width: 105px;
  position: absolute;
  left: 5px;
}

/* line 291, ../sass/condor.scss */
.last_updated {
  font-style: italic;
  font-size: 10px;
  color: #777777;
}

/* line 297, ../sass/condor.scss */
.article:nth-child(even) {
  background: whitesmoke;
}

/* line 300, ../sass/condor.scss */
.article_hotness {
  display: none;
  float: left;
  padding: 0.25em;
  background-color: white;
  border: 1px solid #333333;
  margin-right: 1em;
  font-weight: bold;
  text-align: center;
  background-color: #ffc;
  color: green;
  font-size: 30px;
}

/* line 315, ../sass/condor.scss */
.article_hotness_label {
  font-size: 10px;
}

/* line 320, ../sass/condor.scss */
.article_num_tweets {
  display: none;
}

/* line 324, ../sass/condor.scss */
.article_header a:link {
  text-decoration: none;
  color: green;
}

/* line 325, ../sass/condor.scss */
.article_header a:visited {
  text-decoration: none;
  color: green;
}

/* line 326, ../sass/condor.scss */
.article_header a:hover {
  text-decoration: none;
}

/* line 327, ../sass/condor.scss */
.article_header a:active {
  text-decoration: underline;
}

/* line 330, ../sass/condor.scss */
.article_header {
  color: #777777;
  text-transform: lowercase;
  font-size: 12px;
}

/* line 337, ../sass/condor.scss */
.article_is_new {
  color: red;
  font-weight: bold;
  display: inline;
}

/* line 344, ../sass/condor.scss */
.article_total_tweets {
  display: inline;
}

/* line 349, ../sass/condor.scss */
.article_source {
  display: inline;
  font-weight: bold;
}

/* line 354, ../sass/condor.scss */
.article_found_at {
  display: inline;
}

/* line 359, ../sass/condor.scss */
.article_title {
  display: inline;
  font-size: 18px;
  font-weight: 600;
}

/* line 366, ../sass/condor.scss */
.twitter_intents {
  position: absolute;
}

/* line 371, ../sass/condor.scss */
.hover {
  display: none;
}

/* line 376, ../sass/condor.scss */
.article_title_screen_name {
  font-size: 8px;
  display: none;
}

/* line 381, ../sass/condor.scss */
.article_title_screen_name:before {
  content: "@";
}

/* line 386, ../sass/condor.scss */
.article_profile_image_url {
  float: left;
  padding: 4px;
  padding-left: 0px;
  padding-right: 6px;
}

@media only screen and (max-width: 400px) {
  /* line 395, ../sass/condor.scss */
  .article_profile_image_url {
    display: none;
  }
}
/* line 401, ../sass/condor.scss */
.article_description {
  font-size: 12px;
  display: block;
}

/* line 407, ../sass/condor.scss */
.article_description_title {
  font-style: italic;
  display: inline;
}

/* line 412, ../sass/condor.scss */
.article_description_title:after {
  content: "";
}

/* line 417, ../sass/condor.scss */
.article_image_container {
  padding: 1em;
  float: right;
  width: 200px;
  height: 160px;
  overflow: hidden;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
}

@media only screen and (max-width: 400px) {
  /* line 429, ../sass/condor.scss */
  .article_image_container {
    width: 100%;
    height: 100%;
  }
}
/* line 437, ../sass/condor.scss */
.article_image {
  width: 100%;
}

/* line 442, ../sass/condor.scss */
.article_tweeter_image {
  height: 15px;
  vertical-align: -2px;
}

/* line 448, ../sass/condor.scss */
.article_tweeter_tweet {
  display: inline;
}

/* line 452, ../sass/condor.scss */
.article_tweeter_tweet:before {
  content: "&laquo;";
}

/* line 456, ../sass/condor.scss */
.article_tweeter_tweet:after {
  content: "&raquo;";
}

/* line 461, ../sass/condor.scss */
.article_tweeter_image_container {
  display: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

/* line 468, ../sass/condor.scss */
.article_tweeter_screen_name {
  display: inline;
}

/* line 473, ../sass/condor.scss */
.article_subsidiary_articles {
  margin-top: 10px;
  margin-left: 0px;
  display: block;
  color: #777777;
  font-size: 12px;
}

/* line 483, ../sass/condor.scss */
.article_subsidary_articles_header {
  font-size: 12px;
  color: #777777;
  display: inline;
}

/* line 490, ../sass/condor.scss */
.subsidiary_article_source {
  color: #777777;
  display: inline;
}

/* line 496, ../sass/condor.scss */
.article_subsidiary_article_paragraph_symbol {
  display: none;
  font-size: 12px;
  vertical-align: -0px;
  color: green;
  font-weight: 800;
}

/* line 505, ../sass/condor.scss */
.article_subsidiary_article {
  margin-top: 2px;
  font-size: 12px;
  display: inline;
}

/* line 514, ../sass/condor.scss */
.article_tweeters {
  display: block;
  font-size: 12px;
  color: #777777;
  margin-top: 6px;
}

/* line 522, ../sass/condor.scss */
.article_tweeters_header {
  display: inline;
}

/* line 527, ../sass/condor.scss */
.article_tweeter {
  display: inline;
}

/* line 532, ../sass/condor.scss */
.main_header {
  display: none;
  padding: 4px;
  margin-left: 16px;
  margin-right: 16px;
  background-color: whitesmoke;
}

@media only screen and (max-width: 500px) {
  /* line 543, ../sass/condor.scss */
  .main_header {
    margin-left: 2px;
    margin-right: 2px;
  }

  /* line 548, ../sass/condor.scss */
  .main_header_subhead {
    display: none;
  }
}
/* line 554, ../sass/condor.scss */
.main_header_subhead {
  margin-top: 4px;
  float: right;
  color: #777777;
  font-size: 10px;
}

/* line 562, ../sass/condor.scss */
.main_header_hint {
  display: inline;
}

@media only screen and (max-width: 400px) {
  /* line 570, ../sass/condor.scss */
  .rail_set_ad {
    display: none;
  }
}
/* line 575, ../sass/condor.scss */
.rail_set_header {
  padding: 2px;
  background-color: whitesmoke;
}

/* line 582, ../sass/condor.scss */
.rail_set_domain {
  border-top: 1px solid whitesmoke;
  margin: 2px;
  padding: 2px;
  white-space: nowrap;
}

/* line 590, ../sass/condor.scss */
.count_bubble {
  background-color: whitesmoke;
  border: 1px solid #d5d5d5;
  padding: 1px;
  display: inline;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 10px;
  width: 12px;
}

/* line 601, ../sass/condor.scss */
.rail_set_domain_num_users {
  margin-right: 4px;
}

/* line 606, ../sass/condor.scss */
.rail_set_domain_num_users_container {
  display: inline;
  width: 24px;
  white-space: nowrap;
}

/* line 613, ../sass/condor.scss */
.rail_set {
  padding: 4px;
  padding-top: 0px;
  font-size: 12px;
}

@media only screen and (max-width: 500px) {
  /* line 621, ../sass/condor.scss */
  .rail_set {
    display: none;
  }
}
/* line 628, ../sass/condor.scss */
.rail_set_header {
  font-size: 14px;
}

/* line 637, ../sass/condor.scss */
.rail_set_domain_num_users {
  background-color: whitesmoke;
  border: 1px solid #d5d5d5;
  padding: 1px;
  display: inline;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 10px;
  width: 12px;
}

/* line 649, ../sass/condor.scss */
.rail_set_article {
  margin-bottom: 4px;
  padding: 2px;
}

/* line 654, ../sass/condor.scss */
.rail_set_article:nth-child(even) {
  background: whitesmoke;
}

/* line 657, ../sass/condor.scss */
.rail_set_article_header {
  font-size: 10px;
  color: #777777;
}

/* line 662, ../sass/condor.scss */
.rail_set_article_header a:link {
  text-decoration: none;
  color: green;
}

/* line 663, ../sass/condor.scss */
.rail_set_article_header a:visited {
  text-decoration: none;
  color: green;
}

/* line 664, ../sass/condor.scss */
.rail_set_article_header a:hover {
  text-decoration: underline;
}

/* line 665, ../sass/condor.scss */
.rail_set_article_header a:active {
  text-decoration: underline;
}

/* line 673, ../sass/condor.scss */
.rail_set_article_image_container {
  padding-right: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 679, ../sass/condor.scss */
.rail_set_article_image {
  width: 220px;
}
